@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    color: white;
    font-family: 'poppins', sans-serif;
}


/*Link não visitado */
a:link {
    color: rgb(127, 154, 129);
     text-decoration: none;
   
  }
  
  /*Link já visitado*/
  a:visited {
    color: rgb(39, 58, 23);
    text-decoration: none;
  }
  
  /*Quando o mouse passa por cima*/
  a:hover {
    color: rgb(41, 83, 48);
    text-decoration: none;
  }
  
  /*Link ativo/selecionado*/
  a:active {
    color: rgb(255, 255, 3);
    text-decoration: none;
  }


body h2 {
    color: white;
    font-family: poppins, sans-serif ;
  
  
}

h5 {
    color: black;
    font-family: 'poppins', sans-serif;
}
  
main {
    background-color: rgb(138, 187, 138);
    padding: 10px;
    border-radius: 30px;
    width: 100%;
    max-width: 400px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
  
.spnQtd {
    text-align: end;
}
  
.answers {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

button {
    width: 100%;
    text-align: start;
    padding: 6px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #1d472b;
    color: white;
}


#baixo{
    float: left;
    margin: 10px;
    padding: 2 37px;
    text-align:center;
  
}


  
.finish {
    display: none;
    flex-direction: column;
    gap: 10px;
}
  
.finish button {
    text-align: center;
}
